@model IEnumerable<Movie.BL.Models.FilmsDTO>

<h2>Films</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Director</th>
            <th>Release</th>
            <th>Categories</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Director</td>
                <td>@item.Release</td>
                <td>@string.Join(", ", item.Categories)</td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="Films" asp-action="Index" method="post">
    <button type="submit" class="btn btn-danger">Return</button>
</form>
